<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Rijksmuseum - Prototype</title>
  <link rel="icon" href="/static/figs/favicon.ico">
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body style="background: url('../static/figs/self-portrait.png') center/cover no-repeat;">
  <div class="overlay">
    <!-- <h1>Prototype phase</h1> -->

    <form method="get" action="/chatvg">
      <button class="start-btn" type="submit">Start Chat</button>
    </form>
  </div>
</body>
</html>
